.env
**/chromedriver
**/dict.txt.big.txt
**/stop_words_ch_filter.txt
**/stopwords.txt
**/.ipynb_checkpoints
**/.DS_Store
**/__pycache__/
**/category.json
**/*.csv
**/test.py
**/all-test.py
**/clean-s3-imgs.py