.env
**/chromedriver
**/dict.txt.big.txt
**/stop_words_ch_filter.txt
**/stopwords.txt
**/.ipynb_checkpoints
**/.DS_Store
**/__pycache__/
**/category.json
**/*.csv
**/develop.py
**/all-develop.py
**/clean-s3-imgs.py
**/ptt.py
**/52F2915CC4828276166840E65314C0CB.txt