/* 引入字體 Noto Sans TC */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap&subset=chinese-traditional');

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Noto Sans TC', sans-serif;
    max-width: 1920px;
}

.header {
    position: fixed; 
    top: 0; 
    width: 100%;
    z-index: 30;
    background-color: white;
} 

.home {
    cursor: pointer;
    margin-top: 5.25px;
    margin-bottom: 5.25px;
    font-size: 30px; 
    color: #f0a747; 
    font-weight: 700;
    text-decoration: none;
}

.thousand_twoHundred_navbar {
    max-width: 1200px; 
    display: flex; 
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.items {
    display: flex;
    justify-content: flex-end;
    flex: auto;
}

.item {
    display: flex; 
    align-items: center;
    font-size: 16px;
    color: #666666;
    margin: 10px 10px 10px 10px;
}

.collect_heart, .signIn-enroll-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 5px;
}

#signInEnroll, #readCollections {
    cursor: pointer;
}

/* sign in, enroll settings */
.pop-background-color-sign-in, .pop-background-color-enroll {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 999;
}

#fade-sign-in, #fade-enroll {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 1.5s linear;
}

#fade-sign-in.show, #fade-enroll.show {
    visibility: visible;
    opacity: 1;
    -webkit-animation: fadeIn 1.5s;
    animation: fadeIn 1.5s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0.8}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0.8}
    to {opacity: 1}
} 

.pop-up-sign-in, .pop-up-enroll {
    text-align: center;
    width: 340px;
    position: relative;
    border-radius: 5px;
    background: white;
}

.pop-up-sign-in {
    height: 275px;
    top: -31%;
}

.pop-up-enroll {
    height: 392px;
    top: -25%;
}

.decorator_bar {
    width: 340px;
    height: 10px;
    background: linear-gradient(50deg, #f0f073, 30%, #f0a747);
    position: absolute;
    top: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.sign_in_title, .enroll_title {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #666666;
    font-size: 24px;
}

.close-pop-sign-in, .close-pop-enroll {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-right: 10px;
    cursor: pointer;
}

#nameID-enroll, #emailID, #usernameID, #usernameID-enroll, 
#passwordID, #emailID-enroll, #passwordID-enroll {
    width: 310px;
    height: 47px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .1);
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    outline: none; /* make the following focus work */
}

#usernameID, #usernameID-enroll {
    margin-top: 5px;
}

#nameID-enroll, #emailID, #passwordID, #emailID-enroll, #passwordID-enroll {
    margin-top: 10px;
}

#emailID:focus, #usernameID:focus, #usernameID-enroll:focus, #emailID-enroll:focus, 
#passwordID:focus, #passwordID-enroll:focus, #nameID-enroll:focus {
    border: 2px solid #f0a747;
}

.logInBtn, .enrollBtn {
    cursor: pointer;
    width: 310px;
    height: 47px;
    font-size: 19px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .1);
    background-color: #f0a747;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #F8F8F8;
    text-align: center;
}

.logInBtn:hover, .enrollBtn:hover {
    opacity: 0.75;
    margin-bottom: 10px;
}

.error-message-sign-in {
    display: none;
    color: rgb(137, 28, 28);
    margin-bottom: 10px;
}

.message-enroll {
    display: none;
    margin-bottom: 10px;
}

.enroll-dialog, .sign-in-dialog {
    color: #666666;
    cursor: pointer;
    margin-bottom: 10px;
}
/****************************************/

#upper_line {
    width: 100%;
    border: none;
    border-top: 1px solid #E8E8E8;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.copyRight {
    height: 104px;
    width: 100%;
    bottom: 0; 
    left: 0;
    position: relative;
    background-color: #757575;
    margin-top: 30px;
}

.CR_words {
    color: white;
    left: 50%;
    top: 50%;
    position: absolute;
    z-index: 10;
    transform: translate(-50%, -50%);
}

.copy_right {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

.forum_reference {
    width: 100%;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
    left: 80%;
}

.article_link {
    display: inline-block;
    margin-top: 15px;
    margin-right: 10px;
}

.link-icon {
    margin-left: 5px;
    width: 15px;
    height: 15px;
}

.imgs_article {
    text-align: center;
    width: 55%;
    margin: 0 auto;
}

.thousand_twoHundred {
    max-width: 1200px; 
    margin-top: 91px;
    margin-bottom: 30px;
}

.img_box {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.article_imgs {
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: none; /* initially hide all images */
}

.article_imgs.active {
    display: block; /* Display only the active image */
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: 0.8}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: 0.8}
    to {opacity: 1}
}

.dot_box {
    display: flex;
    position: absolute;
    top: 95%;
    justify-content: center;
    cursor: pointer;
    height: 12px;
    z-index: 30;
    left: 50%;
    transform: translateX(-50%);
}

.dot {
    width: 24px;
    height: 100%;
    opacity: 0.75;
    cursor: pointer;
}

.dot.current {
    opacity: 1; /* Highlight the current dot */
}

.banner_container{
    position: relative;
}

.summary_title_style {
    font-size: 20px;
    color: #f0a747;

}

.title, .summary, .detail {
    width: 100%;
    text-align: center;
    justify-content: center;
}

.title {
    font-size: 24px;
    color: #666666;
    font-weight: 700;
    margin-bottom: 20px;
}

.summary {
    height: 280px; 
    background-color: #E8E8E8;
    padding-left: 20px;
    padding-top: 15px;
    border-radius: 5px;
    position: relative;
}

.common_style {
    display: inline-block;
}

.no_bold_style{
    margin-top: 15px;
    margin-bottom: 20px;
}

.arrow_btn_left, .arrow_btn_right {
    position: absolute;
    top: 45%;
    width: 36px;
    height: 36px;
    background-color: #E8E8E8;
    border-radius: 100%;
    cursor: pointer;
    opacity: 0.5;
}

.arrow_btn_left:hover, .arrow_btn_right:hover {
    opacity: 0.75;
}

.arrow_btn_left {
    left: 0;
    margin-left: 10px;
}

.arrow_btn_right {
    right: 0;
    margin-right: 10px;
}

.arrow_btn_left.disabled, .arrow_btn_right.disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.5;
}

.dot_box.disabled {
    cursor: default;
    pointer-events: none;
}

.dot.disabled {
    cursor: default;
    pointer-events: none;
}

.detail {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.no_bold_style {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
}

.common_style{
    font-size: 16px;
    font-weight: 700;
    color: #666666;
}

.line{
    opacity: 0.5;
}

#lower_line{
    width: 1200px;
    border-top: 1px solid #E8E8E8;
    margin-bottom: 30px;
}

.start_collect{
    width: 180px;
    height: 36px;
    background-color: #f0a747;
    color: white;
    font-size: 19px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: 25px;
    margin-top: 25px;
}

.content, .overview {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
}

.simple_style{
    font-size: 16px;
    font-weight: 700;
    color: #666666;
    width: 1200px;
    margin: 0 auto;
}


@media(max-width: 1200px) and (min-width: 751px){

    .thousand_twoHundred_navbar {
        margin-left: 5px;
    }

    .banner_container {
        max-width: 100%;
        background-size: cover;
        flex: 0 0 100%; /* Make elements take full width */
    }

    .img_box {
        width: 100%;
    }

    .imgs_article {
        width: 75%;
    }

    .summary{
        margin: 0 auto;
        width: 95%;
    }

    .line, .content, .overview, .simple_style, .date, .resource {
        max-width: 95%;
    }

    .title, .summary, .common_style, .no_bold_style, .detail, .start_collect {
        max-width: 95%;
    }

}


@media(max-width: 750px){

    .thousand_twoHundred_navbar {
        margin-left: 5px;
    }

    .summary{
        margin: 0 auto;
        width: 95%;
    }

    .dot_box {
        top: 90%;
    }

    .imgs_article {
        width: 95%;
    }

    .banner_container {
        max-width: 100%;
        background-size: cover;
        flex: 0 0 100%; /* Make elements take full width */
    }

    .img_box {
        width: 100%;
    }

    .line, .content, .overview, .simple_style, .date, .resource {
        max-width: 95%;
    }

    .title, .summary, .common_style, .no_bold_style, .detail, .start_collect {
        max-width: 95%;
    }

}