/* 引入字體 Noto Sans TC */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap&subset=chinese-traditional');

* {
    box-sizing: border-box;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #daded4;
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 60;
  }
  
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #fbfb9b;
    border-top-color: #f0a747;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }

/********************/

body {
    margin: 0 auto;
    font-family: 'Noto Sans TC', sans-serif;
    max-width: 1920px;
}

.header {
    position: fixed; 
    top: 0; 
    width: 100%;
    background-color: #F8F8F8;
    z-index: 30;
} 

.home {
    cursor: pointer;
    margin-top: 5.25px;
    margin-bottom: 5.25px;
    font-size: 30px; 
    color: #f0a747; 
    font-weight: 700;
}

.thousand_twoHundred_navbar {
    max-width: 1200px; 
    display: flex; 
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.items {
    display: flex;
    justify-content: flex-end;
    flex: auto;
}

.item {
    display: flex; 
    align-items: center;
    font-size: 16px;
    color: #666666;
    margin: 10px 10px 10px 10px;
}

.collect_heart, .signIn-enroll-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 5px;
}

#signInEnroll, #readCollections {
    cursor: pointer;
}

/* sign in, enroll settings */
.pop-background-color-sign-in, .pop-background-color-enroll, .pop-background-color-favoriteSurvey, .pop-background-color-filter {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 999;
}

/* #fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
} */

#fade-sign-in, #fade-enroll, #fade-survey, #fade-filter {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 1.5s linear;
}

#fade-sign-in.show, #fade-enroll.show, #fade-survey.show, #fade-filter.show {
    visibility: visible;
    opacity: 1;
    -webkit-animation: fadeIn 1.5s;
    animation: fadeIn 1.5s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0.8}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0.8}
    to {opacity: 1}
} 

.pop-up-sign-in, .pop-up-enroll {
    text-align: center;
    width: 340px;
    position: relative;
    border-radius: 5px;
    background: white;
}

.pop-up-survey, .pop-up-filter {
    text-align: center;
    width: 500px;
    position: relative;
    border-radius: 5px;
    background: white;
}

.pop-up-sign-in {
    height: 275px;
    top: -31%;
}

.pop-up-enroll {
    height: 392px;
    top: -25%;
}

.pop-up-filter, .pop-up-survey {
    height: 500px;
    top: -15%;
}

.decorator_bar {
    width: 340px;
    height: 10px;
    background: linear-gradient(50deg, #f0f073, 30%, #f0a747);
    position: absolute;
    top: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.decorator_bar_survey, .decorator_bar_filter {
    width: 500px;
    height: 10px;
    background: linear-gradient(50deg, #f0f073, 30%, #f0a747);
    position: absolute;
    top: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.sign_in_title, .enroll_title, .survey_title {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #666666;
    font-size: 24px;
}

.close-pop-sign-in, .close-pop-enroll, .close-pop-survey {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-right: 10px;
    cursor: pointer;
}

#usernameID, #passwordID,
#usernameID-enroll, #nameID-enroll, 
#emailID-enroll, #passwordID-enroll {
    width: 310px;
    height: 47px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .1);
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    outline: none; /* make the following focus work */
}

#usernameID, #usernameID-enroll {
    margin-top: 5px;
}

#nameID-enroll, #passwordID, #emailID-enroll, #passwordID-enroll {
    margin-top: 10px;
}

#usernameID:focus, #usernameID-enroll:focus, 
#passwordID:focus, #passwordID-enroll:focus, 
#emailID-enroll:focus,#nameID-enroll:focus {
    border: 2px solid #f0a747;
}

.logInBtn, .enrollBtn, .surveyBtn {
    cursor: pointer;
    width: 310px;
    height: 47px;
    font-size: 19px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .1);
    background-color: #f0a747;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #F8F8F8;
    text-align: center;
}

.logInBtn:hover, .enrollBtn:hover, .surveyBtn:hover {
    opacity: 0.75;
    margin-bottom: 10px;
}

.error-message-sign-in {
    display: none;
    color: rgb(137, 28, 28);
    margin-bottom: 10px;
}

.message-enroll, .message-survey {
    display: none;
    margin-bottom: 10px;
}

.enroll-dialog, .sign-in-dialog {
    color: #666666;
    cursor: pointer;
    margin-bottom: 10px;
}

/****************************************/

.middle {
    background-size: cover;
    height: 320px;
    margin-top: 54px;
    position: relative; 
    object-fit: cover;
    /* overflow: hidden; */
}

.thousand_twoHundred {
    max-width: 1200px; 
    margin: 0 auto;
    position: relative; 
    z-index: 20;
}


.vertical {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
}

.relax {
    color: #bd5c0c;
    font-size: 20px; 
    margin-top: 20px;
}

.expandFilter {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.form-keyword-search {
    position: relative;
    z-index: 20;
    margin-top: 25px; 
    margin-bottom: 86px; 
}

.searchKeyword_input {
    border: 1px solid transparent;
    width: 350px; 
    padding-left: 10px; 
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px; 
    height: 39px;
    font-size: 16px;
    outline: none;
    margin-top: 5px;
}

.searchKeyword_input:focus {
    border: 2px solid #f0a747;
}

.searchKeyword_button {
    border: 1px solid transparent;
    width: 60px; 
    background-color: #f0a747; 
    padding-top: 3px;
    cursor: pointer; 
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px; 
    height: 39px;
    position: absolute;
    margin-top: 5px;
}

.optionTitle {
    color: #bd5c0c;
    margin-left: 10px;
}

.articlesFilterSameLine {
    display: flex;
    align-items: center;
}

/* .optionAlign {
    display: flex;
    align-items: center;
    background-color: white;
    width: 130px;
} */

.back_img {
    position: absolute;
    z-index: 10;

    object-fit: cover;
    overflow: hidden;
    
    background-size: cover;
    height: 320px;
    width: 100%;
    background: rgb(238, 223, 110);
}

/****************************************/

.forum_sorted {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 20px;
}

.forums {
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
}

.forums::-webkit-scrollbar {
    display: none; 
}

.forum {
    cursor: pointer;
    color: gray;
    padding-left: 10px;
    padding-right: 10px;
}

.forum:hover {
    color: black;
}

.left-arrow {
    padding-right: 10px;
}

.left-arrow,
.right-arrow {
    width: 42px;
    height: 32px;
    background-size: cover;
    cursor: pointer;
}

.right-arrow {
    padding-left: 10px;
}

/****************************************/

.noArticle {
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.copyRight {
    display: none;
    height: 104px;
    width: 100%;
    bottom: 0; 
    left: 0;
    position: relative;
    background-color: #757575;
}

.CR_words {
    color: white;
    left: 50%;
    top: 50%;
    position: absolute;
    z-index: 10;
    transform: translate(-50%, -50%);
}

.copy_right {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

#loading {
    display: none;
}

/****************************************/

@media(max-width: 1920px) and (min-width: 1201px){

    .load_articles {
        max-width: 1200px;
        /* display: flex;
        justify-content: center;
        flex-flow: row wrap; */
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 105px;
    }
    
    /* .load_atrticles .picture_word:last-child {
        margin-right: auto;
    } */
    
    /* .picture {
        flex: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 5px;
        overflow: auto;
    } */

    .wcAndInfo {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }

    .wc-img {
        flex: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 5px;
        overflow: auto;
    }
    
    .wcAndInfo:hover {
        opacity: 0.5;
        cursor: pointer;
    }

    .wcAndInfo {
        display: flex;
        flex-direction: column;
        width: 270px;
        margin: 15px 15px 15px 15px;
        width: 95%;
        height: auto;
    }

    
    /* .picture > .content {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        height: auto;
        object-fit: cover; 
        width: 100%; 
        padding-left: 10px;
        padding-right: 10px;
    } */

    .wc-img {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        height: auto;
        object-fit: cover; 
        width: 100%; 
        padding-left: 10px;
        padding-right: 10px;
    }

    .articleInfo {
        width: 60%;
        height: 100%;
    }
    
    .title {
        font-weight: 900;
        font-size: 16px;
        display: flex;
        align-items: center; 
        padding-left: 10px;
        overflow: hidden;
        color: rgb(240, 136, 16); 
        margin-bottom: 10px;
        width: 100%; 
        z-index: 1; 
    }

    .category, .resource, .date {
        font-weight: 100;
        font-size: 16px;
        width: 100%; 
        z-index: 1; 
        padding-left: 10px;
        color: gray;
    }
    
    /* .word {
        border: 1px;
        border-style: none solid solid solid;
        border-color: rgb(240, 239, 239);
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px; 
        height: 45px;

        display: flex;
        justify-content: space-between;
        align-items: center; 
        padding-left: 10px;
        padding-right: 10px;
        color: #757575;
        font-size: 16px;
        
        width: 100%; 
        box-sizing: border-box; 
    } 

    .article_forum .article_resource{
        font-weight: 100;
    } */

}

@media(max-width: 1200px) and (min-width: 601px){

    .home {
        padding-left: 5px;
    }

    .forum_sorted, .load_articles{
        max-width: 95%;
    }

    .load_articles {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 105px;
    }
    
    .picture {
        flex: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 5px;
        overflow: auto;
    }
    
    .picture_word:hover {
        opacity: 0.5;
        cursor: pointer;
    }

    .picture_word {
        display: flex;
        flex-direction: column;
        width: 43%;
        margin: 15px 15px 15px 15px;
        
    }

    
    .picture > .content {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        height: auto;
        object-fit: cover; 
        width: 100%; 
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .title {
        font-weight: 900;
        font-size: 16px;
        display: flex;
        align-items: center; 
        padding-left: 10px;
        overflow: hidden;
        color: white;
        background-color: rgba(0, 0, 0, 0.5); 
        min-height: 80px;
        bottom: 0; 
        width: 100%; 
        z-index: 1; 
    }
    
    .word {
        border: 1px;
        border-style: none solid solid solid;
        border-color: rgb(240, 239, 239);
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px; 
        height: 45px;

        display: flex;
        justify-content: space-between;
        align-items: center; 
        padding-left: 10px;
        padding-right: 10px;
        color: #757575;
        font-size: 16px;
        
        width: 100%; 
        box-sizing: border-box; 
    }
    

    .article_forum .article_resource{
        font-weight: 100;
    }

}

@media(max-width: 600px){

    .home {
        padding-left: 5px;
    }

    .searchKeyword_input{
        width: 225px; 
    }

    .forum_sorted, .load_articles{
        max-width: 90%;
    }

    .load_articles {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 105px;
    }
    
    .load_articles .picture:last-child {
        margin-right: auto;
    }
    
    .picture {
        flex: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 5px;
        overflow: auto;
    }
    
    .picture_word:hover {
        opacity: 0.5;
        cursor: pointer;
    }

    .picture_word {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: 15px 15px 15px 15px;
        
    }

    
    .picture > .content {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        height: auto;
        object-fit: cover; 
        width: 100%; 
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .title {
        font-weight: 900;
        font-size: 16px;
        display: flex;
        align-items: center; 
        padding-left: 10px;
        overflow: hidden;
        color: white;
        background-color: rgba(0, 0, 0, 0.5); 
        min-height: 80px;
        bottom: 0; 
        width: 100%; 
        z-index: 1; 
    }
    
    .word {
        border: 1px;
        border-style: none solid solid solid;
        border-color: rgb(240, 239, 239);
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px; 
        height: 45px;

        display: flex;
        justify-content: space-between;
        align-items: center; 
        padding-left: 10px;
        padding-right: 10px;
        color: #757575;
        font-size: 16px;
        
        width: 100%; 
        box-sizing: border-box; 
    }
    

    .article_forum .article_resource{
        font-weight: 100;
    }

}
