# .env
# **/chromedriver
# **/dict.txt.big.txt
# **/stop_words_ch_filter.txt
# **/stopwords.txt
# *ipynb*
# **/.ipynb_checkpoints
# **/.DS_Store
# **/__pycache__/
# **/category.json

.env
chromedriver
dict.txt.big.txt
stop_words_ch_filter.txt
stopwords.txt
*.ipynb
.ipynb_checkpoints/
.DS_Store
__pycache__/
category.json
